.Dossier {
  position: relative;
  width: 300px;
  height: 350px;
  margin: 10px;
  color: #fff;
  cursor: pointer;
  overflow: hidden;

  &.dropZone{
    box-shadow: 0 0 10px 2px greenyellow;
    
    .deplacer, .modifier{
      pointer-events: none;
    }
  }


  img {
    width: 100%;
    height: 100%;
    pointer-events: none;

  }
  .deplacer {
    position: absolute;
    top: 10px;
    left: 10px;
    cursor: grab;
    background-color: rgba($color: #000000, $alpha: 0.4);
    color: #ccc;
    &:hover {
      background-color: rgba($color: #000000, $alpha: 0.5);
    }
    .couverture{
      height: 200px;
      pointer-events: none;
      
      img{
        width: 300px;
        height: 200px;
        object-fit: cover;
      }
    }
  }

  .info {
    padding: 1rem 0.75rem;
    pointer-events: none;

    h2 {
      margin: 0;
      padding: 0;
      font-weight: normal;
      font-family: Comic Sans ms;
    }
  }

  .modifier {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: rgba($color: #333, $alpha: 0.4);
    color: #ccc;
    &:hover {
      background-color: rgba($color: #333, $alpha: 0.5);
    }
  }
}